body {
  background-color: #edeeef;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(to right, rgb(211, 41, 41), rgb(7, 32, 173));
  color: #edeeef;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.player-table-container {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.filter-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}


.filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin: 5px;
  background-image: linear-gradient(to right, rgb(211, 41, 41), rgb(7, 32, 173));
  color: white;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, rgb(255, 90, 90), rgb(32, 70, 255));
}

.reset-btn {
  background-image: linear-gradient(to right, #999, #444);
}

.multi-select {
  position: relative;
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.dropdown-header {
  border: 1px solid #c7cfe0;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.dropdown-list {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #000;
  border-radius: 6px;
  width: 100%;
  margin-top: 5px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-option {
  display: flex;
  text-align: left;
  padding: 6px 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #e0e0e0;
}

.search-box {
  width: 90%;
  margin: 8px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-all {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  text-align: left;
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
 
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: px;
   
}

th {
  background-color: rgb(7, 32, 173);
  color: #fff;
  
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:hover {
  background-color: #e8e8e8;
}

.arrow{
  padding-right: 10px;
}

@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column;
    gap: 15px;
  }

  .multi-select {
    width: 90%;
  }

  button {
    width: 90%;
  }

  table {
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .filter-title {
    font-size: 22px;
  }

  th, td {
    padding: 6px;
  }
}
